<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../css/style.css">
    <title>Single Category</title>


</head>
<body>
    <header class="header">
        <a class="backHome" href="/categories">back to categories</a>
        <h1 class="headerTitle" th:text="${category.genre}"></h1>
    </header>
    <section class="reviewList">
        <h2 class="reviewListHeading">Here is list of our Reviews:</h2>

            <nav class="reviewNavList">
                <ul>
                    <li class="reviewListLinkReview" th:each="review:${category.reviews}">
                        <a class="reviewListLinkReview" th:href="@{'/reviews/'+ ${review.id}}"
                           th:text="${review.title}">Refactoring</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <footer>
        &copy; Biljana Temovska 2020
    </footer>
</body>
</html>

