<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Single Movie</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
<section class="reviewDetails">
    <a class="backHome" th:href="'/categories/'+${review.category.genre}">back to reviews</a>
    <h1 class="reviewDetailsTitle" th:text="${review.title}">Refactoring</h1>
    <div class="rating">
        <input type="radio" name="star" id="star1"><label for="star1"></label>
        <input type="radio" name="star" id="star2"><label for="star2"></label>
        <input type="radio" name="star" id="star3"><label for="star3"></label>
        <input type="radio" name="star" id="star4"><label for="star4"></label>
        <input type="radio" name="star" id="star5"><label for="star5"></label>
    </div>
    <p class="reviewDetailsContent" th:text="${review.content}"></p>
    <img class="reviewImage" th:src="${review.imageUrl}">
</section>
<footer>
    &copy; Biljana Temovska 2020
</footer>
</body>
</html>
